<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CinePlanet - Home</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="styles/styleIndex.css">
</head>
<body>
    <nav id="navigation">
        <a href="index.html"><span id="title">CinePlanet</span></a>
        <form id='busca'>
            <input id="btnsrc" type="submit" value="">
            <input id='search' placeholder="Buscar por títulos em cartaz" type="text" name="genero">
        </form>
        <a href="cadastrar.html"><span id="acesso">Cadastro</span></a>
    </nav>
    <div id="header">
        <img id='imgspot' alt="">
        <h1 id="spotlight"></h1>
        <input id='conf' type="button" value="CONFERIR">
    </div>
    <div id="menu">
        <a id="link1"><img class='item' alt="" id="filme1"></a>
        <a id="link2"><img class='item' alt="" id="filme2"></a>
        <a id="link3"><img class='item' alt="" id="filme3"></a>
        <a id="link4"><img class='item' alt="" id="filme4"></a>
        <a id="link5"><img class='item' alt="" id="filme5"></a>
    </div>
<script src="scripts/index.js"></script>
</body>
</html>